*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    overflow-x: hidden;
    
}

ul{
    list-style: none;
}

ol{
    list-style: none;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    background-color: rgb(24,24,27);
    border-bottom: 2px solid black;
    justify-content: space-between;
overflow: hidden;
    align-items: center;
    
    z-index: 2;
}

nav #logo{
    width: 32px;
}

nav .input-checkbox{
    display: none;
}

a{
    text-decoration: none;
    color: #232f3e;
}

nav label{
    z-index: 5;
}

nav #nav-div1{
    display: flex;
    align-items: center;
    left: 20px;
    padding-left: 10px;
    gap: 20px;
    
}

nav #img-explorar{
    width: 28px;
}

nav aside {
    width: 100px;
   display: none;
   position: absolute;
   padding: 0px 20px 15px 0px;
   justify-content: center;
}

nav input:checked#menu-explorar ~ aside#aside-explorar{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: blueviolet;
}

nav #img-mas{
    width: 44px;
}

nav input:checked#menu-mas ~ aside#aside-mas{
    width: 1100px;
    height: 100%;
    left: 100px;
    top: 50px;
    display: flex;
}

nav aside ul{
    list-style: none;
}

nav aside#aside-mas div{
    width: 1000px;
 
}

nav aside#aside-mas ul{
    color: rgb(216,216,219);
    font-size: 14px;
    font-weight: 549;
    background-color: rgb(31,31,35);
}

nav #img-buscar{
    width: 24px;
}

nav input:checked#menu-buscar ~ aside#aside-buscar{
    display: flex;
    width: 1000px;
    right: -200px;
    top: 50px;
}

nav #barra-buscar{
    border: 4px solid blueviolet;
    background-color: black;
    color: rgb(216,216,219);
}

svg{
    fill: white;
}

nav #img-prime{
    width: 18px;
}

nav input:checked#menu-prime ~ aside#aside-prime{
    display: flex;
    width: 400px;
    border-radius: 10px;
    left: 30px;
    top: 50px;
    background-color: rgb(31,31,35);
    color: rgb(216,216,219);
}

nav #aside-prime #div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav #aside-prime #div1 div{
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: rgb(26,152,255);
}

nav aside#aside-prime div#div1 a{
    font-size: 14px;
}

nav #div-iniciar{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216,216,219);
    background-color: rgb(47,47,53);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

nav input:checked#iniciar-sesion ~ aside#aside-iniciar{
    display: flex;
    width: 490px;
    height: 350px;
    background-color: rgb(24,24,27);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20vh;
    left: 5vw;
    line-height: 25px;
    color: rgb(216,216,219);
}

nav aside#aside-iniciar div#div-iniciar-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 5%;
}

nav aside#aside-iniciar input{
    width: 440px;
}

nav #div-registrarse{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216,216,219);
    background-color: rgb(145,71,255);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
}


#sidebar{
    position: fixed;
    left: 0;
    margin-top: 50px;
    background-color: rgb(31,31,35);
    z-index: 2;
}

#sidebar div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 35px;
    height: 100vh;
    margin: 7px;
    gap: 13px;
    background-color: rgb(31,31,35);
}

#sidebar li img{
    width: 32px;
    border-radius: 50px;
}

#sidebar ol{
    line-height: 30px;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding-top: 15px;
    background-color: rgb(14,14,16);
    overflow-x: hidden;
    padding-bottom: 70px;
}

main #carrusel{
    display: flex;
    top: 50px;
    left: 49px;
    position: relative;
    flex-direction: column;
    background-color: #0e0e10;
     width: 100%;
}

#div-carrusel{
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%;
}

.div-iframe{
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

main section.main-section{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #0e0e10;
     width: 100%;
}

main span{
    color: rgb(191,148,255);
}

main section.main-section p{
    color: rgb(216,216,219);
    letter-spacing: 0.1px;
}

main #text-canales{
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}

main .main-section div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: #0e0e10;
    margin-left: 10px;
}

main .main-section div ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .main-section div ol li{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 20px;
    width: 100%;
}

main .main-section img{
    width: 32px;
    border-radius: 50px;
    position: absolute;
}

.info-videos{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.text-videos{
    margin-left: 40px;
    font-size: 12px;
    position: static;
}

.titulo-videos{
    position: static;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}

main #text-categoria1{
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}

main #section-categorias{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0e0e10;
     width: 100%;
     height: 100%;
}

main #text-categorias{
    margin-left: 70px;
    margin-bottom: 15px;
    font-size: 23px;
    color: rgb(216,216,219);
    letter-spacing: 0.1px;
}

main #section-categorias ol{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    gap: 20px;
}

main #section-categorias img{
    width: 100px;    
    border-radius: 0;
}
main #section-categorias p{
    color: rgb(216,216,219);
    letter-spacing: 0.1px;
    font-size: 14px;
}

main #section-categorias .text-categorias{
    color: rgb(216,216,219);
    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(69,16,147);
    bottom: 0;
    left: 0;
    z-index: 20;
    color: rgb(216,216,219);
    font-size: 19px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 60px;
}

footer div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer img{
    width: 40px;
}

footer input{
    width: 90px;
    height: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    
}

span:hover{
    text-decoration: underline rgb(191,148,255) solid 1px;
    cursor: pointer;
}

.titulo-videos:hover{
    color: rgb(191,148,255);
    cursor: pointer;
}

.text-videos:hover{
    cursor: pointer;
}

.text-categorias:hover{
    color: rgb(191,148,255);
    cursor: pointer;
}

svg:hover{
    background-color: rgba(128, 128, 128, 0.281);
    cursor: pointer;
}

#div-iniciar:hover{
    background-color: rgb(55, 55, 63);
    cursor: pointer;
}

#div-registrarse:hover{
    background-color: rgb(115, 57, 202);
    cursor: pointer;
}

footer input:hover{
    cursor: pointer;
}

@media only screen and (min-width: 740px){

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .main-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        box-sizing: border-box;
    }

    .div-iframe{
        width: calc(33.33% - 20px); /* Adjust according to your layout */
        margin: 10px;
        box-sizing: border-box;
    }

}